<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="align-items-center">
      <div class="logo">
        <h1 class="brandName">
          <a href="/Wimr"><span>미슐<span style="color: aqua;">랭장고</span></span></a>
        </h1>
      </div>
      <!-- ========= Nav =========-->
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a >레시피</a>
            <ul>
              <div class="dropdown-box justify-content-center display-flex" >
                <div  style="flex-direction: column; ">
                  <div >
                    <a style="font-size: 20px;" href="/Wimr/foodSelect">레시피 검색</a>
                  </div>
                  <div>
                    <a style="font-size: 20px;" href="/myrecipeRegister">레시피 등록</a>
                  </div>
                </div>
              </div>
            </ul>
          </li>
          
          <li class="dropdown"><a>게시판</a>
            <ul>
              <div class="dropdown-box justify-content-center display-flex" >
                <div  style="flex-direction: column; ">
                  <div >
                    <a style="font-size: 20px;" href="/Wimr/userRecipes">레시피 게시판</a>
                  </div>
                  <div>
                    <a style="font-size: 20px;" href="/boardList">자유 게시판</a>
                  </div>
                </div>
              </div>
            </ul>
          </li>

          <li class="dropdown">
            <a><span>My</span></a>
            <ul class="pico">
                <div class="dropdown-box">
                  <div class="before-login" th:if="${session.user==null}">
                    <div class="display-flex justify-content-center btn-wrap"><button class="login-btn" onclick="redirectToPage('/Wimr/login')">로그인 하기</button></div>
                    <a id="toRegister" href="/Wimr/register"><span>회원가입</span></a>
                  </div>
                  <div class="my-info after-login" th:if="${session.user!=null}">
                    <div class="text-center">
                      안녕하세요, <br/>
                      <span th:text="${session.user.memberNick}" class="underline"></span><span>님!</span>
                      <div class="a-myPage display-flex justify-content-center">
                        <div><a th:href="'/Wimr/myPage/'+${session.user.memberNick}">마이페이지</a></div>
                      </div>
                      <div style="width: 0%;"><a class="logout-btn" onclick="form_submit('logout')">로그아웃</a></div>
                      <form id="logout" style="display: none;" th:action="@{/Wimr/logout}" method="post"></form>
                    </div>
                  </div>
                </div>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- .navbar -->
      <div id="mobile-nav-toggle" class="menu">
        <div class="bar x-top"></div>
        <div class="bar x-middle"></div>
        <div class="bar x-bottom"></div>  
      </div>
    </header>
    <!-- End Header -->
  <body>
      </nav>
      <!-- .navbar -->
    </header>
    <!-- End Header -->
  </body>
</html>

