<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <sidebar id="sidebar" class="pico">
      <div >
        <div class="user-info display-flex">
          <div class="before-login display-flex" th:if="${session.user==null}">
            <button class="login-btn" onclick="redirectToPage('/Wimr/login')">로그인 하기</button>
            <div class="a-Register"><a href="/Wimr/register"><span>회원가입</span></a></div>
          </div>
          <div class="after-login" th:if="${session.user!=null}">
            <div style="text-align: left;padding-left: 13px;"><p style="margin: 0;">안녕하세요,</p><p><span th:text="${session.user.memberNick}" class="underline"></span>님!</p></div>

          </div>
        </div>
        <ul style="font-size: 23px;">
          <li>레시피
            <ul style="font-size: 18px;">
              <li style="list-style:disc; padding: 5px;margin: 0;"><a href="/Wimr/foodSelect">레시피 검색</a></li>
              <li style="list-style: disc; padding: 5px;margin: 0;"><a href="/myrecipeRegister">레시피 등록</a></li>
            </ul>
          </li>
          <li>게시판
            <ul style="font-size: 18px;">
              <li style="list-style:disc; padding: 5px;margin: 0;"><a href="/Wimr/userRecipes">레시피 게시판</a></li>
              <li style="list-style: disc; padding: 5px;margin: 0;"><a href="/boardList">자유 게시판</a></li>
            </ul>
          </li>
          <li th:if="${session.user!=null}"><a th:href="'Wimr/myPage/'+${session.user.memberNick}">마이페이지</a></li>
        </ul>
        <div class="logout" th:if="${session.user!=null}">
          <form id="logout" th:action="@{/Wimr/logout}" method="post"></form>
            <a onclick="form_submit('logout')">로그아웃</a>
        </div>
      </div>
      
    </sidebar>
  </body>
</html>