/*index.html*/

.overlay::before{
    position: absolute;
    height: calc(100vh);
    min-height: 600px;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}
.site-cover {
  min-height: 600px;
  height: calc(100vh);
  background-size: cover;
  background-repeat: no-repeat;
}

.site-cover .search-container{
  max-width: 1140px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-cover .search-container .welcome{
  z-index: 1;
  color: #ffffff;
}

.site-cover .search-container .search-form-wrap{
  width: 100%;
  z-index: 1;
  background-color: #ffffffb4;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 6px;
}

.site-cover .search-container .search-form-wrap div{
  --pico-spacing: 0rem;
}

.site-cover .search-container .search-form-wrap button:hover{
  background-color: #2d84e7 !important;
}

.Contents {
  width:100%;
  display: block;
  text-align: center;
  background-color: #f8f8f8;
}

.Contents h1{
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.Contents .box_div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 만약 요소가 가로로 넘칠 경우 다음 줄에 배치하도록 설정 */
  margin-top: 50px;
}

.Contents .ranking-div{
  grid-template-columns: repeat(3,1fr);
}

.Contents .ranking-div #first-recipe{
  order:1;
}

.Contents .ranking-div #second-recipe{
  order:2;
}

.Contents .ranking-div #third-recipe{
  order:3;
}

.box {
  width:300px;
  aspect-ratio: 1/1.3;
  position:relative;
  margin:0 80px;
  margin-bottom: 30px;
  border-radius: 10%;
  font: 600 60px "Do Hyeon";
  cursor:pointer;
  color:#fff;
  word-break: keep-all;
}

.box .back{
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-radius: 10%;
  position: relative;
  backdrop-filter: blur(4px);
  background-color: #464646c5;
  opacity: 0;
}

.box div {
  transition: 0.15s;
}

.big-box .img-wrap{
  width:100%;
}

.big-box .img-wrap img{
  width: 30%;
  object-fit: contain;
}

.big-box a{
  
}