<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
    />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <!--menu icon
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>-->

    <title>Session Home</title>
    </head>
    <body> 
    <div class="site-cover overlay" style="background-image: url(/img/index_img.jpg); background-position: 50% ;">
        <!--header와 밑에 div 모든 html에 추가되야함.-->
        <header th:replace="~{fragments/header::header}"/>
        <div class="sidebar-wrap"><div th:replace="~{fragments/sideNav::sidebar}"/></div>
        
        <div class="search-container input-width align-items-center ">
            <div class="align-items-center text-center justify-content-center row">
                <div class="welcome">
                    <h1>안녕하세요</h1>
                    <p>냉장고에 있는 재료를 입력하세요</p>
                </div>
                <div class="search-form-wrap">
                    <form id="search-form" th:action="@{/Wimr/foodSelect}" method="get">
                        <div class="pico" style="display:flex;width:100%;">
                            <input type="text" id="ingredients" placeholder="쉼표( , )로 구분하여 재료들을 입력해주세요." style="flex:0 0 70%;margin-right:20px ;"/>
                            <button id="search-btn" type="button" onclick="searchIngredients()" style="background-color: #3091ff;width: 100%;">검색하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="Contents pico" data-aos="fade-up">
      <h1>인기 레시피</h1>
      <div class="box_div ranking-div">
        <div id="second-recipe" class="big-box pico text-center" data-aos="fade-up" th:object="${second_rank_recipe}">
          <div class="img-wrap display-flex justify-content-center"><img src="/img/silver.png"/></div>
          <div
            class="box"
            th:style="
              'background-image: url('+*{picture}+');
              background-position: center;
              background-size: cover;'
            "
            th:attr="data-recipeno=*{recipeno}"
            th:onclick="redirectToRecipePage(this)"
          >
          </div>
          <p th:text="*{title}"></p>
        </div>

        <div id="first-recipe" class="big-box text-center pico" data-aos="fade-up" th:object="${first_rank_recipe}">
          <div class="img-wrap display-flex justify-content-center"><img src="/img/gold.png"/></div>
          <div
            class="box"
            th:style="
              'background-image: url('+*{picture}+');
              background-position: center;
              background-size: cover;'
            "
            th:attr="data-recipeno=*{recipeno}"
            th:onclick="redirectToRecipePage(this)"
          >
          </div>
          <p th:text="*{title}"></p>
        </div>
        <div id="third-recipe" class="big-box text-center pico" data-aos="fade-up" th:object="${third_rank_recipe}">
          <div class="img-wrap display-flex justify-content-center"><img src="/img/copper.png"/></div>
          <div
            class="box"
            th:style="
              'background-image: url('+*{picture}+');
              background-position: center;
              background-size: cover;'
            "
            th:attr="data-recipeno=*{recipeno}"
            th:onclick="redirectToRecipePage(this)"
          >
          </div>
          <p th:text="*{title}"></p>
        </div>
      </div>
    </div>
    

    <div class="Contents pico">
      <h1>주요기능</h1>
      <div class="box_div">
        <div class="big-box pico text-center" data-aos="fade-up">
          <div
            id="Search_recipe"
            class="box"
            style="
              background-image: url(/img/ingredients.jpg);
              background-position: center;
              background-size: 200%;
            "
            onclick="redirectToPage('/Wimr/foodSelect')"
          >
            <div class="back">재료 검색<br /></div>
          </div>
          <p>레시피 검색</p>
        </div>

        <div class="big-box text-center pico" data-aos="fade-up">
          <div
            id="Make_recipe"
            class="box"
            style="
              background-image: url(/img/regist.jpg);
              background-position: center;
              background-size: 200%;
            "
            onclick="redirectToPage('/myrecipeRegister')"
          >
            <div class="back">레시피 등록<br /></div>
          </div>
          <p>레시피 등록</p>
        </div>
        <div class="big-box text-center pico" data-aos="fade-up">
          <div
            id="bBoard"
            class="box"
            style="
              background-image: url(/img/pen.jpg);
              background-position: center;
              background-size: 200%;
            "
            onclick="redirectToPage('/boardList'/*게시판*/)"
          >
            <div class="back pico">게시판<br /></div>
          </div>
          <p>게시판</p>
        </div>
      </div>
    </div>
    <footer th:replace="~{fragments/footer::footer}" />

    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
