<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
    />
    <link href="/css/register.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
  </head>
  <body>
    <header th:replace="~{fragments/header::header}" />
    <div class="sidebar-wrap">
      <div th:replace="~{fragments/sideNav::sidebar}" />
    </div>

    <div class="emptyBox"></div>
    <div id="registerBox" class="centerBox pico">
      <div class="form-wrap">
        <form
          id="register-form"
          th:action="@{/Wimr/register}"
          method="post"
          th:object="${userDTO}"
        >
          <div class="input-wrap">
            아이디:
            <input
              type="text"
              id="loginId"
              name="member_id"
              class="form_input"
              th:field="*{memberId}"
            />
            <div id="idError" class="Error">
              <li>
                아이디는 영문자로 시작하는 영문자와 숫자 조합의 3~15자리를
                사용해야 합니다.
              </li>
            </div>
          </div>
          <div class="input-wrap">
            비밀번호:
            <input
              type="password"
              id="password"
              name="member_pw"
              class="form_input"
              th:field="*{memberPw}"
            />
            <div id="pwdError" class="Error">
              <li>
                비밀번호는 영문자+숫자+특수문자 조합의 8~20자리를 사용해야
                합니다.
              </li>
            </div>
          </div>
          <div class="input-wrap">
            비밀번호 확인:
            <input type="password" id="repassword" class="form_input" />
            <div id="repwdError" class="Error">
              <li>비밀번호가 일치하지 않습니다.</li>
            </div>
          </div>
          <div class="input-wrap">
            닉네임:
            <input
              type="text"
              id="name"
              name="member_nick"
              class="form_input"
              th:field="*{memberNick}"
            />
            <div id="nameError" class="Error">
              <li>
                닉네임은 영문자 or 한글 or 숫자 조합의 3~10자리를
                사용해야합니다.
              </li>
            </div>
        
          </div>
          <div class="input-wrap">
            이메일:
            <div class="display-flex">
              <input type="text" id="email_id" class="form_input" /><span
                style="
                  font-size: x-large;
                  margin-top: 5px;
                  margin-left: 20px;
                  margin-right: 20px;
                "
                >@</span
              >
              <input type="text" id="email_add" style="width: 58%" />
              <select
                id="email_sel"
                style="width: 12%; margin-left: 5px"
                onchange="change_email()"
              >
                <option value="">직접입력</option>
                <option value="naver.com">naver</option>
                <option value="gmail.com">gmail</option>
              </select>
            </div>
            <div id="emailError" class="Error">
              <li>이메일 형식에 맞지 않습니다.</li>
            </div>
            

          <input type="hidden" id="email" th:field="*{memberEmail}" />
          <!--email_id와 add를 합쳐서 보내기 위한 hidden input-->
          <button type="button" onclick="form_check()">가입하기</button>
        </form>
        <div th:if="${errorMessage}">
          <script th:inline="javascript">
              alert(/*[[${errorMessage}]]*/);
          </script>
        </div>
        <div th:if="${successMessage}">
          <script th:inline="javascript">
              alert(/*[[${successMessage}]]*/);
              location.replace(/*[[${searchUrl}]]*/)
          </script>
        </div>
        
      </div>
    </div>

    <script src="/js/register.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  </body>
</html>
